PORT=3456
MONGO_URI=mongodb://usertest:pAssw0rd@localhost:27017/bot?authSource=bot
BINANCE_BASE_URL=https://testnet.binance.vision
SYMBOL=BTCUSDT
BINANCE_API_KEY=qHhDePDCkBBd4wAHFHi4IcsgVkafqjXlAilxzqwuWcF019wZhJpvOdBziWZ8kn3L
BINANCE_API_SECRET=DUIZN7WOmtUH4Znsw2nLPkmZNES5qYa9k6q0OVAGVtD1dXn7HmAAuJNFo79qO04z
TARDES_DEFAULT_LIMIT=100